$bg-red: #eb5757;
$bg-gray: #a4acad;
$bg-light-gray: #f2f2f2;
$bg-orange: #ff9846;
$bg-white: #fff;
$bg-black: #000;
$bg-dark-orange: #f46d40;

$text-white: #fff;
$text-orange: #ff9846;
$text-black: #000;
$text-gray: #a4acad;
$text-dark-orange: #f46d40;
$text-light-gray: #f2f2f2;
